body {
	background-color: transparent;
}

.action-button {
	display: inline-block;
	border: none;
	margin: 0 auto;
	/* align-items: center; */
	vertical-align: middle;
	text-align: center;
}

#icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
}

#icons .icon {
	width: 140px;
	padding: 20px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#icons .icon .codicon {
	font-size: 36px;
	padding-bottom: 16px;
}
